.VideoItem {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
}

.VideoItem:hover {
  background-color: #f3f3f3
}

.VideoItem-image {
  width: 25%;
}

.VideoItem-title {
  width: 75%;
  padding-left: 10px;
}

.VideoItem-button {
  display: flex;
  align-items: center;
}

.VideoItem-button button {
  display: flex;
  padding: 5px 12px;
  background: #fff;
  border: 1px solid #d3d3d3;
}

.VideoItem-button button:hover {
  background: #f3f3f3;
  cursor: pointer;
}
